html {
  height: 100%;
}

body {
  background-color: $background-colour;
  font-size: 18px;
  font-weight: 100;
  color: $text-colour;
  height: 100%;

  @media (max-width: $screen-md-max) {
    font-size: 16px;
  }

  // @media (max-width: $screen-sm-max) {
  //   font-size: 14px;
  // }

  // @media (max-width: $screen-xs-max) {
  //   font-size: 12px;
  // }

  a {
    text-decoration: none;
  }

  noscript {
    &.dit-loading {
      display: none;
    }

    &.dit-outer-wrap {
      display: block;
    }
  }
}

.dit-outer-wrap{
  min-height: 100%;
}

.dit-whitepage{
  position: fixed;
  z-index: 100;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgb(255, 255, 255);
}
