//content-section.scss

.dit-content-section {
  padding: flip-side-values(24px 24px 16px 24px);
  margin: 60px 0 50px;
  background-color: $white;
  border: 1px solid $tile-border-colour;
  border-bottom: 5px solid $red-line-colour;
  overflow: hidden;

  &:focus {
    outline: $white auto 1px;
  }

  h2 {
    @extend .h1;
    margin: flip-side-values(24px 0 16px 0);
  }

  h3 {
    margin: flip-side-values(20px 0 24px 0);
    font-weight: 300;
  }

  //Add external link icon
  // nice to have but would add external icon on non js without a target='_blank'
  //a:not( [ href*='great.gov.uk'] ):not( [href^='#'] ):not( [href^='/'] ):after {
  a[target=_blank]:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    @extend .dit-icon-external-link;
    margin-left: 4px;
  }

  &__heading {
    @extend .h1;
  }

  &__subheading {
    font-size: 28px;
    margin: flip-side-values(40px 0 0 0) !important;
  }

  &__lead {

    & p {
      font-size: 21px;
      font-weight: 100;
      width: 80%;

      @media (max-width: $screen-md-max) {
        font-size: 18px;
      }

      @media (max-width: $screen-sm-max) {
        font-size: 16px;
        width: 100%;
      }
    }
  }

  &__read-more-link {
    margin-top: 15px;
    display: inline-block;
  }

  & .dit-back-to-top {
    display: inline-block;
    margin-top: 12px;
  }
}

.dit-updated {
  margin-top: -48px;
  float: #{$right};
  font-style: italic;
  font-size: 14px;
  margin-bottom: 42px;
}
