//form-section.scss

.dit-form-section {
  padding: 0;
  //border: 1px solid $tile-border-colour;
  overflow: hidden;
  background: $white;

  &__header-panel {
    background-color: $teal;
    color: $white;
  }

  &__lead {
    padding: 7px 0px;
    border-bottom: 1px solid #FFF;
    margin-top: 15px;
  }

  &__heading {
    font-size: 32px;
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
      font-size: 40px;
    }
  }

  &__progress-bar {
    background-color: $smoke;
    min-height: 100px;

    .progress-stages {
      a {
        padding: 42px 0px 20px;
        color: $light-gray;

        &.active {
          color: $teal;
          font-size: 24px;
          font-weight: 500;
          padding-top: 36px;
          border-bottom: 10px solid $teal;

          .number-circle {
            color: $teal;
            border: 2px solid $teal;
            padding: 8px 16px;
          }
        }
      }
    }
  }

  &__body {
    margin-top: 40px;
    background-color: $white;

    input {
      border-radius: 3px;
      height: 48px;
      background-color: $background-colour-table-alt;
    }
  }

  &__inputs {
    margin: 0;
    padding: 0;
  }

  &__category {
    h3 {
      font-size: 32px;
      font-weight: 500;
    }
  }

  &__highlight {
    margin: 1em 0;
    padding: 2em 0 1em;
    color: $white;
    background: #28a197;
    text-align: center;
  }

  .number-circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 46px;
    height: 36px;
    padding: 8px 14px;

    background: $smoke;
    border: 2px solid $light-gray;
    color: $light-gray;
    text-align: center;
    margin-right: 12px;
  }

  .glyphicon-triangle-#{$left} {
    margin-top: 1px !important;
  }

  #formSuccess {
    display: none;
  }

  .select_date_fields {
    display: inline-flex;
  }

  .select_month {
    margin-#{$right}: 15px;
  }

  .panel-section {
    margin-bottom: 25px;

    ul {
      padding-left: 0;
      margin-left: 0;
      margin-top: 20px;
    }

    li {
      margin: 10px 0 0 30px;
    }

    p {
      margin: 20px 0 0 0;
    }

  }
}

#step-1, #step-2 {
  margin-top: 60px;
  border-bottom: 1px solid $tile-border-colour;
  padding-bottom: 40px;
}


#step-3 {
  margin: 60px 0 120px;
}



.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #B00D23;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.bottom-buffer {
  margin-bottom: 2rem;
}

.progress-indicators {
  font-size: 2rem;
  margin-#{$right}: 2.5rem;
  color: $link-colour;
}

.progress-indicators.active {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */

  width: 36px;
  height: 36px;
  background: $background-colour;
  border: 2px solid $link-colour;
  text-align: center;
  font: 32px Arial, sans-serif;

}

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard {
  position: absolute;
  direction: ltr;
  #{$right}: 10px;
  top: 0;
  color: $link-colour;
  z-index: 1;

  @media (max-width: $screen-sm-max) {
    #{$right}: 0px;
    top: -50px;
  }
}

.stepwizard-row:before {
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;

  a[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }

  a {
    color: $link-colour;
    text-decoration: none;
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 25px;
  padding-#{$left}: 0;
}

.form-group-mb-0 {
  padding-#{$left}: 0;
  margin-bottom: 0;
}

@media (max-width: $screen-xs-max) {
  .feedback-button {
    bottom: 0px;
  }
}

.dit-form-wrapper {
  overflow: hidden;
  float: left;
  position: relative;
}

.setup-content {
  float: left;
  display: inline-block;
  margin: 0;
}

.stepBigNumber {
  margin-#{$right}: 15px;
}

.active-selection {
  font-size: 60px;
  font-weight: 500;
}

.stepwizard {
  display: none;
}

.prevBtn {
  display: none;
}

.nextBtn {
  display: none;
}

.submitBtn {
  margin-bottom: 10px;
}

.location_block {
  display: none;
}

.final_step {
  padding-bottom: 70px;
}

#loading-overlay {
  opacity: 0.5;
  top: 0px;
  width: 2.22222px;
  //height: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: 10;
  display: none;
}

#img-load {
  position: absolute;
}

.control-label {
  font-weight: 500;
}

.error-help {
  display: none;
}

.has-error {

  & .control-label {
    color: black;
  }

  & .error-help {
    display: block !important;
    color: #a94442;
    font-weight: 700;
  }
  border-#{$left}: 4px solid #b10e1e;
  padding-#{$left}: 15px;
}

.checkbox-label {
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: flip-side-values(18px 30px 15px 24px);
  font-weight: 400;
  margin-top: 10px;
}

.disclaimer_block {
  margin-bottom: 85px !important;
  padding-#{$left}: 0;
}

.form_heading {
  font-weight: 400 !important;
}

.form-detail {
  //padding-#{$left}: 0;
  color: #6F777B;
  font-weight: 100;
  font-size: 16px;
}

.help-text {
  color: #828282;
}

.validation_error {
  display: none;
  color: #a94442;
  font-weight: 700;
}

.select_month {
  width: 100px;
}

.optsForm {
  position: relative !important;
  bottom: 0 !important;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.dit-disclaimer {
  margin-top: 40px !important;
  font-size: 16px;
}

input[type="radio"] {
  vertical-align: middle;
  margin: 0 15px 0 7px;
  transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
}

input[type="checkbox"] {
  vertical-align: middle;
  margin: 0 15px 0 7px;
  transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
}

.dit-label {
  font-weight: 500;
}

.dit-not-label {
  font-weight: 300;
  height: 36px;
}