//industries-list.scss

.dit-industries-list {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
  overflow: hidden;

  &__item {
    //padding: 15px;
    //width: 33%;
    //float: #{$left};
    //position: relative;
    //margin: 10px 0;
    //overflow: hidden;
    margin: 16px 0;

    //@media (max-width: $screen-sm-max) {
    //  width: 50%;
    //}


    a {
      color: $white;
      font-size: 22px;
      display: block;
      overflow: hidden;
      position: relative;
      transition: all .2s ease-in-out;

      @media (max-width: $screen-xs-max) {
        font-size: 20px;
      }

      &:hover {
        transform: scale(1.05);

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          #{$left}: 0;
          #{$right}: 0;
          background: rgba(0, 0, 0, 0.5);
        }

        img {
          // width: 105%;
          // transform: scale(1.05);
        }
      }

      &:focus {
        transform: scale(1.05);

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          #{$left}: 0;
          #{$right}: 0;
          background: rgba(0, 0, 0, 0.5);
        }

        img {
          // width: 105%;
          // transform: scale(1.05);
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;

    &:hover {
      //
    }
  }

  &__text {
    width: 100%;
    position: absolute;
    padding: 15px;
    // #{$left}: 15px;
    bottom: 0px;
    #{$left}: 0px;
    background: $great-blue;
  }

  &__link-wrap {
    overflow: hidden;
  }
}
