// dit-iopps-sidebar.scss
.dit-iopps-sidebar {

  z-index: 5;
  white-space: normal;

  h2 {
    margin: 24px 0 16px 0;

    @media (max-width: $screen-md-max) {
      padding-top: 15px;
    }
  }
  select {
    margin: 0px 15px;
    color: $text-colour;
    background-color: $white;
  }

  hr {
    color: $light-gray;
    margin: 12px 0 12px;
  }

  section {
    height: inherit;
  }

  ul {
    list-style: none;
    padding-left: 15px;

    li {
      margin-bottom: 8px;
    }
  }

  a {
    margin-right: 0px;
    color: $white !important;
    border-bottom: 1px solid $white;
    &:hover {
      cursor: pointer !important;
    }

    @media (max-width: $screen-sm-max) {
      color: $white !important;
      border-bottom: 1px solid $white;
    }
  }

  &__body {
    background-color: $background-sidebar;
    color: $white;
    margin-top: 10px;

  }

  & .invest-call {
    background-color: $teal;
    margin-top: 20px;
  }
}

.alpha-legend {
  font-size: 14px;
  position: absolute;
  top: 120px;
  right: 0;
  padding: 16px;
  background-color: #333;
  color: white;
  z-index: 2;

  a {
    color: $white !important;
    border-bottom: 1px solid $white;
    &:hover {
      cursor: pointer !important;
    }

    @media (max-width: $screen-sm-max) {
      color: $white !important;
      border-bottom: 1px solid $white;
    }
  }

  span {
    padding: 4px;
    margin-right: 4px;
    background-color: $alpha-orange;

    @media (max-width: $screen-xs-max) {
      display: block;
      text-align: center;
      margin-bottom: 8px;
    }
  }

  @media (max-width: $screen-xs-max) {
    position: relative;
    top: 0;
    overflow: hidden;
    white-space: normal;
  }

  p {
    display: inline;
  }
}