// dit-iopps-sidebar.scss
.dit-iopps-sidebar {

  z-index: 5;
  white-space: normal;

  h2 {
    margin: 24px 0 16px 0;

    @media (max-width: $screen-md-max) {
      padding-top: 15px;
    }
  }
  select {
    margin: 0px 15px;
    color: $text-colour;
    background-color: $white;
  }

  hr {
    color: $light-gray;
    margin: 12px 0 12px;
  }

  section {
    height: inherit;
  }

  ul {
    list-style: none;
    padding-left: 30px;
  }

  a {
    margin-right: 0px;
    color: $white !important;
    &:hover {
      cursor: pointer !important;
      border-bottom: 1px solid $white;
    }

    @media (max-width: $screen-sm-max) {
      color: $white !important;
      border-bottom: 1px solid $white;
    }
  }

  &__body {
    background-color: $background-sidebar;
    color: $white;
    margin-top: 10px;

  }

  & .invest-call {
    background-color: #0397b3;
    margin-top: 20px;
  }
}