// location-guide.scss

#investment-opps-container {
  white-space: nowrap;
  margin-top: 40px;
  padding-left: 0;

  @media (max-width: $screen-xs-max) {
    //
  }
}

.dit-iopps-section {
  //overflow: hidden;

  h2 {
    margin-bottom: 0px;
  }

  h3 {
    font-weight: 100;
  }

  //Add external link icon
  // nice to have but would add external icon on non js without a target='_blank'
  //a:not( [ href*='great.gov.uk'] ):not( [href^='#'] ):not( [href^='/'] ):after {
  a[target=_blank]:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    // @extend .dit-icon-external-link;
    margin-left: 4px;
  }

  &__body {
    .region-selector {
      position: absolute;
      margin: 20px 0px 0px 15px;

      @media (max-width: $screen-xs-max) {
        position: relative;
        margin: 20px 0px 0px 15px;
      }

      label {
        margin-right: 10px;
      }
    }
  }

  &__heading {
    font-size: 32px;
    font-weight: 100;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }
  }

  &__subheading {
    font-size: 28px;
    margin: flip-side-values(40px 0 0 0) !important;
  }

  &__options {

    overflow: hidden;

    label {
      display: block;
      //padding-left: 45px;
      padding-left: 50px;
      //text-indent: -30px;
      text-indent: -35px;
      font-weight: 100;

      p {
        font-size: 12px;
        margin-left: 0;
        text-indent: 0;
      }
    }

    @media (min-width: $screen-md-max) {
      margin: 15px 0px 140px 0px;
    }
  }

  #sector-selector, #susbector-selector {
    margin-top: 20px;
  }

  .industry-selection {
    margin-bottom: 35px;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }
}

.js-display {
  display: none;
}

.bottom-buffers {
  margin-bottom: 40px;
}

@media (min-width: $screen-md-max) {
  .map-view {
    //margin-top: 10px
  }
}

#go-back {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.input-filter {
  display: none;
}

.input-filter + label:before {
  background-color: white;
  border: 1px solid #cacece;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  display: inline-block;
  transition-duration: 0.3s;
  width: 16px;
  height: 16px;
  content: '';
  margin-right: 15px;
}

#significant-businesses:checked + label:before {
  background-color: $significant-businesses;
}

#innovation-centres:checked + label:before {
  background-color: $innovation-centres;
}

#enterprise-zones:checked + label:before {
  background-color: $enterprise-zones;
}