// location-guide.scss

.dit-iopps-section {
  overflow: hidden;

  h2 {
  	margin-bottom: 0px;
  }

    h3 {
    font-weight: 100;
  }

  //Add external link icon
  // nice to have but would add external icon on non js without a target='_blank'
  //a:not( [ href*='great.gov.uk'] ):not( [href^='#'] ):not( [href^='/'] ):after {
  a[target=_blank]:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    // @extend .dit-icon-external-link;
    margin-left: 4px;
  }

  &__body{
    .region-selector{
    position: absolute;
    margin: 20px 0px 0px 15px;

    @media (max-width: $screen-xs-max) {
    position: relative;
    margin: 20px 0px 0px 15px;
    }

    label{
      margin-right: 10px;
    }
  }
}

   &__heading {
    font-size: 32px;
    font-weight: 100;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }
}

	&__subheading {
	   font-size: 28px;
	   margin: flip-side-values(40px 0 0 0) !important;
	}

  &__options{

      overflow: hidden;

  		input[type=checkbox]{
  		margin-right: 15px;
      margin-bottom: 12px;
  		}
  		label{
  			font-weight: 100;
  		}

      @media (min-width: $screen-md-max) {
      margin: 15px 0px 140px 0px;
    }
  }

  	#sector-selector, #susbector-selector {
  		margin-top: 20px;
  	}

.industry-selection{
    margin-bottom: 35px;
    @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
    }
}
}

.js-display{
  display: none;
}

.bottom-buffers{
	margin-bottom: 40px;
}

@media (min-width: $screen-md-max) {
.map-view{
  //margin-top: 10px
  }
}

#go-back {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

