//main-nav

.dit-main-nav {
  background: $white;

  // Prevent floats from breaking the navbar
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }

  @media (max-width: $screen-sm-max) {
    position: relative;
    border-radius: 0;
    padding: 0 15px;
    //border-bottom: 1px solid $tile-border-colour;
    z-index: 15;

    & > div {
      margin: 0 !important;
    }
  }
  .dit-main-nav-list > li {
    cursor: pointer !important;
  }

  @media (max-width: 1199px) {
    & .navbar-header {
      float: none;
    }
    & .navbar-#{$left},.navbar-#{$right} {
      float: none !important;
    }
    & .navbar-toggle {
      display: block;
    }
    & .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    & .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    & .navbar-collapse.collapse {
      display: none!important;
    }
    & .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    & .navbar-nav>li {
      float: none;
    }
    & .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    & .collapse.in{
      display:block !important;
      overflow-y: auto !important;
      width: 100%;
    }
  }
}

.navbar {
  border: 0 solid $tile-border-colour;
  border-bottom: 1px solid $tile-border-colour;
  border-radius: 0;
  z-index: 10;
  width: 100%;
  height: 71px;
  top: 40px;
}

.dit-iigb-logo {
  height: 40px;
  width: auto;

  @media (max-width: $screen-sm-max) {
    height: 30px;
  }
}

.navbar-brand {
  height: auto;
}

.navbar-brand img {
  margin-#{$left}: 0;

  @media (max-width: $screen-sm-max) {
    margin-#{$left}: 15px !important;
  }

  @media (max-width: $screen-xs-max) {
    margin-#{$left}: 0px !important;
  }
  // @media (max-width: 991px) and (min-width: 768px) {
  //   margin-#{$left}: -30px !important;

  // }
}

.navbar-collapse {
  @media (max-width: $screen-xs-max) {
    margin-#{$right}: 0;
    margin-#{$left}: 30px;
    width: 115%;
  }
  @media (min-width: $screen-md-min) {
    margin-#{$right}: -15px !important;
  }

  & > ul > li > a {
    @media (max-width: $screen-xs-max) {
      padding-#{$left}: 30px;
    }
  }
}

.navbar-toggle {
  margin: flip-side-values(14px 0 0 0);

  @media (max-width: $screen-sm-max) {
    margin: flip-side-values(14px 15px 0 0);
  }
}

.navbar-default {
  background: white;
}

.navbar-nav {
  margin-top: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}