//_main-nav-list.scss

.dit-main-nav-list {
  margin-top: 22px;
  float: #{$right};

  li {
    //border-#{$right}: 1px solid $tile-border-colour;
    border-#{$left}: 1px solid $tile-border-colour;
    padding: 0 10px;

    &:first-of-type {
      border-#{$left}: none;
    }

    &:last-of-type {
      border-#{$left}: none;
      padding: 0;
    }

    &.active {
      > a {
        background-color: $white !important;
        border-bottom: 2px solid $red-line-colour !important;
      }
    }

    @media (max-width: $screen-md-max) {
      border-#{$left}: none;
    }
  }

  > li > a {
    color: $text-colour !important;
    font-size: 16px;
    padding: 4px 0;

    //hack to make it work. Cascading not working
    &.dit-btn--contact {
      padding: 2px 12px;
      color: $white !important;


      &:hover {
        color: $link-colour !important;
        background: $white;
      }

      &:focus {
        color: $link-colour !important;
        background: $white;
      }
    }
  }

  @media (max-width: $screen-md-max) {
    margin-top: 22px;

    > li > a {
      font-size: 16px;
      padding: 4px 4px;
    }
  }

  @media (max-width: $screen-sm-max) {
    border-#{$left}: 0;
    float: #{$right} !important;
    width: 100%;

    > li > a {
      border: 0;
      display: block;
      height: auto;

      &:first-of-type {
        border: 0;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    border-#{$left}: 0;
    float: #{$left} !important;
    width: 100%;

    > li > a {
      border: 0;
      display: block;
      height: auto;

      &:first-of-type {
        border: 0;
      }
    }
  }

  .search-button {
    margin-top: -1px;
    padding-top: 0;

    @media (max-width: $screen-md-max) {
      margin-top: 4px;
    }

    @media (max-width: $screen-sm-max) {
      margin-top: 2px;
    }
  }
}

.dit-main-nav-list-nonjs {
  ul {
    margin-top: 60px;
    padding: 0 10px;

    li {
      border-#{$left}: none;
      display: inline-block;
      padding: 0 4px;

    }
  }

  span {
    display: inline-block;
    margin-#{$left}: 15px;

    .dit-btn--contact {
      margin: 0;
      padding: 0 8px;
    }
  }
}