//base-type.scss

//base-type.scss

.font {
  font-family: Roboto, sans-serif;

  &-ar {
    font-family: 'Droid Arabic Naskh', Roboto, sans-serif;
  }

  &-ja {
    font-family: 'Noto Sans Japanese', Roboto, sans-serif;
  }

  &-zh {
    font-family: 'Noto Sans SC', Roboto, sans-serif;
  }
}