{% extends "base/index.html" %}

{% block content %}

{% include "partials/header-nav.html" %}

{% include "partials/top-bar.html" %}

{% include "partials/jumbotron-short.html" %}

<!--
[cms-fields]
  sections:
    type: content
    multiple: true
    label: Article section files

[/cms-fields]

-->

<section class="dit-toc">
    {% block toc %}
      {% include "partials/breadcrumb.html" %}
    {% endblock %}
</section>

{% block page_content %}
{% endblock %}

{% if locale.language === 'en' %}
{% include "partials/contact-us-link.html" %}
{% else %}
{% include "partials/form.html" %}
{% endif %}

{% endblock %}
