{% include "partials/top.html" %}

{% include "partials/overlay.html" %}

<!--[if lte IE 8]>
<style>
    .jumbotron {
        background-image: url("/media/hero-img/home-default.jpg");
        background-size: cover;
        margin-top: -9%;
    }
</style>
<![endif]-->
</div>

<!--
[cms-fields]
  pageHeader:
    type: content
    label: Page Intro
    fields:
      heroImage:
        type: text
        label: Hero Image
        help: Choose image to show as hero background image
      externalVideo:
        type: text
        label: External video url
      heroVideo:
        type: text
        label: Hero video
        help: Choose video to show as hero background video
      heroVideoImage:
        type: text
        label: Hero video poster
        help: Image to show in case of video autoplay failure ?
[/cms-fields]
  -->

{% block content %}
{% endblock %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}

{% include "partials/bottom.html" %}
