{% extends "base/index.html" %}
{% block content %}
    {% include "partials/header-nav.html" %}
    {% include "partials/top-bar.html" %}
    {% include "partials/jumbotron-short.html" %}
    {% block page_content %}
        <div class="container">
            <section class="dit-content-section">
                <h2>{{contentBlocks.infoBlock.content.title}}</h2>
                <div class="col-md-10 col-sm-10 dit-main-content__body">
                    {{ contentBlocks.infoBlock.content.contents | safe }}
                    <a href=/{{locale.country}}/>{{contentBlocks.infoBlock.content.linkLabel}}</a>
                </div>
            </section>
        </div>
    {% endblock %}
{% endblock %}
