{% extends "base/content-short.html" %}
{% import "partials/markups.html" as markups %}

{% block toc %}
{{ super() }}

<div class="container" id="top">
    <div class="row">
        <div class="col-md-8">
            <h2 class="dit-toc__heading">{{ labels.on_this_page[locale.code] }}</h2>
            <ol class="dit-toc__list">
                {% for a in sections %}
                <li class="dit-toc__list-item">
                    <a href="#{{a.content.title|slug(locale.language)}}">
                        {{a.content.title}}
                    </a>
                </li>
                {% endfor %}
                {% if subContent %}
                <li class="dit-toc__list-item"><a href="#sub-sectors">{{ labels.pre_word[locale.code] }}{{pageHeader.content.title}}{{ labels.post_word[locale.code] }}</a>
                </li>
                {% endif %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="container">
    {% for a in sections %}
    {{ markups.section(a, labels, locale.language) }}
    {% endfor %}
    <!--<p class="dit-updated">Page updated {{now()|date}}</p>-->
</div>

{% endblock %}
