{% extends "base/index.html" %}
{% import "partials/markups.html" as markups %}

{% block content %}

{% include "partials/top-bar.html" %}

{% include "partials/header-nav.html" %}

{% include "partials/jumbotron.html" %}

<div class="container">

<section class="dit-content-section">
    <div class="row">
      <div class="col-md-12">
        {{ markups.tilesWithSideDescription( header = labels.great_british_industries[locale.code], list = tileItems, base = base, assets = assets  ) }}
        <div class="dit-section-cta">
          <a href="industries" class="dit-btn">{{ labels.discover[locale.code] }}</a>
        </div>
      </div>
    </div>
</section>


{{ markups.bullet_list( header = listHeader, list = listItems, base = base  ) }}

{% include "partials/about-us.html" %}


</div>
{% endblock %}

