{% extends "base/index.html" %}
{% block content %}
    {% include "partials/header-nav.html" %}
    {% include "partials/top-bar.html" %}
    {#    <div class="jumbotron--auto">#}
    {#        <div class="container">#}
    {#            <div class="dit-hero__content">#}
    {#                <div class="row">#}
    {#                    <div class="col-sm-10 col-md-10">#}
    {#                        <h1>{{ overview.content.title }}</h1>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <section class="dit-toc">#}
    {#        {% include "partials/breadcrumb.html" %}#}
    {#    </section>#}
    <div id="investment-opps-container">
        <div class="alpha-legend visible-xs">
          <span>ALPHA</span>{{ labels.investment_opts_alpha_before[locale.code] }} <a href="/{{base}}/feedback">{{ labels.investment_opts_alpha_feedback[locale.code] }}</a> {{ labels.investment_opts_alpha_after[locale.code] }}
        </div>
        <section id="sidebar" class="dit-iopps-sidebar col-sm-3">
            <div class="row setup-content" id="step-1">
                <div class="dit-iopps-sidebar__body col-sm-12">
                    <div id="choose-industry">
                        <header>
                            <h2>{{ locationGuide.content.title }}</h2>
                        </header>
                        <p>{{ locationGuide.content.contents | safe }}</p>
                        <div id="sectors" class="row">
                            <label for="sector-selector"
                                   class="col-sm-11 col-xs-12">{{ labels.investment_opts_select_industry[locale.code] }}</label>
                            <select class="col-sm-11 col-xs-11" class="form-control" id="sector-selector" required>
                                <option value="" disabled selected> {{ labels.please_select[locale.code] }} </option>
                                <option value='Aerospace'
                                        data-link='/{{ base }}/industries/aerospace/'>{{ labels.sectors.aerospace[locale.code] }}</option>
                                <option value='Advanced Manufacturing'
                                        data-link='/{{ base }}/industries/advanced-manufacturing/'>{{ labels.sectors.advanced_manufacturing[locale.code] }}</option>
                                <option value='Automotive'
                                        data-link='/{{ base }}/industries/automotive/'>{{ labels.sectors.automotive[locale.code] }}</option>
                                <option value='Creative'
                                        data-link='/{{ base }}/industries/creative/'>{{ labels.sectors.creative[locale.code] }}</option>
                                <option value='Energy Generation'
                                        data-link='/{{ base }}/industries/energy/'>{{ labels.sectors.energy[locale.code] }}</option>
                                <option value='Financial Services'
                                        data-link='/{{ base }}/industries/financial-services/'>{{ labels.sectors.financial_services[locale.code] }}</option>
                                <option value='Food And Drink Manufacturing'
                                        data-link='/{{ base }}/industries/food-and-drink-manufacturing/'>{{ labels.sectors.food_and_drink_manufacturing[locale.code] }}</option>
                                <option value='Health And Life Sciences'
                                        data-link='/{{ base }}/industries/health-and-life/'>{{ labels.sectors.health_and_life_sciences[locale.code] }}</option>
                                <option value='Retail'
                                        data-link='/{{ base }}/industries/retail/'>{{ labels.sectors.retail[locale.code] }}</option>
                                <option value='Technology'
                                        data-link='/{{ base }}/industries/technology/'>{{ labels.sectors.technology[locale.code] }}</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div id="filters">
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="font-weight: 700; margin-top: 8px">{{ labels.investment_opts_priorities[locale.code] }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="dit-iopps-section__options">
                                <input class="input-filter" id="significant-businesses" type="checkbox"
                                       name="significant_business"
                                       value="" checked/>
                                <label for="significant-businesses" class="col-sm-12 col-xs-12">
                                    {{ labels.investment_opts_businesses[locale.code] }}
                                    <p style="font-size:12px">{{ labels.investment_opts_businesses_detail[locale.code] }}</p>
                                </label>
                                <input class="input-filter" id="innovation-centres" type="checkbox" name="innovation"
                                       value=""/>
                                <label for="innovation-centres" class="col-sm-12 col-xs-12">
                                    {{ labels.investment_opts_centres_of_excellence[locale.code] }}
                                    <p style="font-size:12px">{{ labels.investment_opts_centres_of_excellence_detail[locale.code] }}</p>
                                </label>
                                <input class="input-filter" id="enterprise-zones" type="checkbox" name="enterprise_zone"
                                       value=""/>
                                <label for="enterprise-zones" class="col-sm-12 col-xs-12">
                                    {{ labels.investment_opts_enterprise_zones[locale.code] }}
                                    <p style="font-size:12px"><a href="/{{base}}/investment-opportunities/finance-and-incentives">{{ labels.investment_opts_enterprise_zones_detail[locale.code] }}</a></p>
                                </label>
                                <button id="go-btn" class="dit-btn--call visible-xs" type="button">
                                    Go
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sidebar-details" class="dit-iopps-sidebar col-sm-3">
            <div class="row setup-content"
                 id="step-2">
                <div class="dit-iopps-sidebar__body col-sm-12">
                    <div id="close" class="pull-right">
                        <span class="glyphicon glyphicon-remove dit-close-icon" style="margin-top: 10px;"></span>
                    </div>
                    <header>
                        <h2>{{ labels.investment_opts_region[locale.code] }}</h2>
                    </header>
                    <div class="row">
                        <select class="col-sm-11 col-xs-11" name="regions" id="region-selector">
                            <option value="" selected>All</option>
                            <option value="Scotland">Scotland</option>
                            <option value="Northern Ireland">Northern Ireland</option>
                            <option value="North East England">North East England</option>
                            <option value="North West England">North West England</option>
                            <option value="Yorkshire and The Humber">Yorkshire and The Humber</option>
                            <option value="East Midlands">East Midlands</option>
                            <option value="West Midlands">West Midlands</option>
                            <option value="Wales">Wales</option>
                            <option value="London">London</option>
                            <option value="East of England">East of England</option>
                            <option value="South East England">South East England</option>
                            <option value="South West England">South West England</option>
                        </select>
                    </div>

                    <div id="clusters">
                        <h3>{{ labels.investment_opts_notable_clusters[locale.code] }}</h3>
                        <div class="row">
                            <ul id="notable-clusters">
                            </ul>
                        </div>
                        <hr>
                    </div>
                    <div id="regeneration-opps">
                        <h3>{{ labels.investment_opts_regeneration_opportunities[locale.code] }}</h3>
                        <div class="row">
                            <p class="col-sm-11 col-xs-12">
                                <a id="northern-powerhouse"
                                   href="https://www.gov.uk/government/publications/northern-powerhouse-investment-opportunities"
                                   target="_blank">Northern Powerhouse investment opportunities</a>
                                <a id="midlands-engine"
                                   href="https://www.gov.uk/government/publications/midlands-engine-investment-portfolio/midlands-engine-investment-portfolio"
                                   target="_blank">Midlands Engine investment portfolio</a>
                            </p>
                        </div>
                        <hr>
                    </div>
                    <h3>{{ labels.investment_opts_investment_advice[locale.code] }}</h3>
                    <div class="row">
                        <ul id="related-pages">
                            <li>
                                <a href="/{{ base }}/setup-guide">{{ labels.investment_setup_guide_for_investors[locale.code] }}</a>
                            </li>
                            <li>
                                <a href="/{{ base }}/investment-opportunities/finance-and-incentives">{{ labels.investment_incentives_and_finance[locale.code] }}</a>
                            </li>
                            <li><a id="sector-link" href="">{{ labels.investment_opts_invest_in[locale.code] }}</a></li>
                        </ul>
                    </div>
                    <div class="row invest-call">
                        <div class="col-sm-12">
                            <header>
                                <h3>{{ labels.investment_opts_ready_to_invest[locale.code] }}</h3>
                            </header>
                            <p>{{ labels.investment_opts_thinking[locale.code] }}</p>
                        </div>
                        <a class="dit-btn--call" href="/{{ base }}/contact">
                            {{ labels.contact[locale.code] }}
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="map-container" class="dit-iopps-section col-xs-12 col-sm-5">
            <div id="map" class="map-view"></div>
        </section>

        <div class="alpha-legend hidden-xs">
          <span>ALPHA</span>{{ labels.investment_opts_alpha_before[locale.code] }} <a href="/{{base}}/feedback">{{ labels.investment_opts_alpha_feedback[locale.code] }}</a> {{ labels.investment_opts_alpha_after[locale.code] }}
        </div>
    </div>

{% endblock %}
