{% extends "base/index.html" %}
{% block content %}
  {% include "partials/header-nav.html" %}
  {% include "partials/top-bar.html" %}
  <div class="jumbotron--auto">
    <div class="container">
      <div class="dit-hero__content">
        <div class="row">
          <div class="col-sm-10 col-md-10">
            <h1>{{ overview.content.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="dit-toc">
    {% include "partials/breadcrumb.html" %}
  </section>
  <div id="investment-opps-container" class="container">
   <section class="dit-content-section">
   <h2>To use this service</h2>
   <div class="col-md-10 col-sm-10 dit-main-content__body">
   <p>You can search by using the dropdown menus and check boxes to find information on funding, research and development hubs and business clusters.</p>
    <p>You can then view the information in a map or a table.</p>
    </div>
    </section>

    <section class="dit-iopps-section">
      <div class="col-md-12 col-sm-12 dit-iopps-section__body">
        <div class="row industry-selection">
          <h2 class="col-md-4 col-xs-12">{{labels.investment_opts_choose_industry[locale.code]}}</h2>
          <select class="industry-selector col-md-5 col-xs-12" name="organisation[industry]" class="form-control" id="industry" required>
            <option value="" disabled selected >
              {{ labels.please_select[locale.code] }}
            </option>
            {% for industry in industries %}
              <option value="{{industry.name}}">
              {{industry.name}}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>{{labels.investment_opts_what_is_important[locale.code]}}</h3>
          </div>
        </div>
        <div class="row bottom-buffer">
          <div class="dit-iopps-section__options">
            <label class="col-md-3 col-xs-12"><input id="significant-businesses" type="checkbox" name="significant_business" value=""/>Significant Businesses</label>
            <label class="col-md-3 col-xs-12"><input id="funding" type="checkbox" name="funding" value=""/>Funds</label>
            <label class="col-md-3 col-xs-12"><input id="enterprise_zones" type="checkbox" name="enterprise_zone" value=""/>Enterprise Zones</label>
            <label class="col-md-3 col-xs-12"><input id="innovation-centres" type="checkbox" name="innovation" value=""/>R&D</label>
          </div>
        </div>
        <div class="row">
          <ul class="nav nav-tabs">
            <li class="active" data-tab-control="tab-map"><a class="map-tab" href='javascript:;'>Map</a></li>
            <li data-tab-control="tab-table"><a class="table-tab" href='javascript:;'>Table</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-map" class="tab-pane fade in active">
              <div class="container-fluid">
              <div id="map" class="map-view">
              </div>
              </div>
            </div>
            <div id="tab-table" class="tab-pane fade ">
              <div class="container-fluid">
              <div id="table-view">
                <table id="opps-table"
                        data-pagination="true"
                        data-search="true"
                        data-page-size="50">
                  <thead>
                    <tr>
                      <th data-field="local_authority"
                          data-sortable="true">Local Authority</th>
                      <th data-field="region"
                          data-sortable="true">Region</th>
                      <th data-field="sno"
                          data-sortable="true">SNO</th>
                      <th data-field="businesses">Businesses Index</th>
                      <th data-field="centres">Centres Index</th>
                    </tr>
                  </thead>

                </table>
              </div>
              </div>
              </div>
            </div>
        </div>
      </div>
    </section>

  </div>
{% endblock %}
