{% extends "base/landing.html" %}
{% import "partials/markups.html" as markups %}

{% block page_content %}

{% include "partials/jumbotron-short.html" %}

<div class="container">
    <div class="dit-industries-tiles-landing">
        <div class="row">
            <div class="col-md-12 margin-top--4">
                <!--<h2 class="dit-industries-tiles-landing__heading">{{ labels.industry_overviews[locale.code] }}</h2>-->
                <!--<p>{{ labels.industry_overviews_intro[locale.code] }}</p>-->
                {{ markups.tilesIndustry(list = tileItems, base = base, assets = assets ) }}
            </div>
        </div>
    </div>

    <div class="dit-industries-tiles-landing">
        <div class="row">
            <div class="col-md-12 margin-top--4">
                <!--<h2 class="dit-industries-tiles-landing__heading">{{ labels.industries[locale.code] }}</h2>-->
                <!--<p>{{ labels.industries_intro[locale.code] }}</p>-->

                <!--
                [cms-fields]
                  subTileItems:
                    type: content
                    multiple: true
                    label: Tile items
                    fields:
                      content:
                        type: text
                        label: Content
                        help: Choose content to appear in this section
                      thumbnail:
                        type: text
                        label: Thumbnail image
                        help: Choose thumbnail image for tile
                      link:
                        type: text
                        label: Link target for thumbnail
                [/cms-fields]
                  -->


                {{ markups.tilesSector(list = subTileItems, base = base, assets = assets ) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
