{% extends "base/index.html" %}
{% import "partials/markups.html" as markups %}

{% block content %}

{% include "partials/header-nav.html" %}

{% include "partials/top-bar.html" %}

{% include "partials/jumbotron-short.html" %}

<section class="dit-toc">
      {% include "partials/breadcrumb.html" %}
</section>

{% block page_content %}

<!--
[cms-fields]
  sections:
    type: content
    multiple: false
    label: Article section file

[/cms-fields]

-->

<div class="container dit-info">
      {% for a in sections %}
      {{ markups.section(a, labels, locale.language) }}
      {% endfor %}
</div>

{% endblock %}


{% endblock %}
