<nav class="dit-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8 col-lg-9">
                <ul class="dit-footer--list">
                    <li><a href="/{{locale.country}}">{{labels.home}}</a></li>
                    <li><a href="/{{locale.country}}/industries">{{labels.industries}}</a></li>
                    <li><a href="/{{locale.country}}/setup-guide">{{labels.setup_guide}}</a></li>
                    <li><a href="/{{locale.country}}/privacy-policy/">{{labels.privacy}}</a></li>
                    <li><a href="/{{locale.country}}/terms-and-conditions/">{{labels.terms}}</a></li>
                    <!--<li><a href="#">{{labels.contact}}</a></li>-->
                </ul>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-0 dit-footer--logo">
                <a href="https://www.gov.uk/" target="_blank">
                    <img class="dit-logo-footer" src="/media/logos/hmg-logo.png" alt="HMG Logo">
                </a>
                <ul class="list-unstyled">
                    <li>&copy; Crown copyright</li>
                </ul>
                <a href="/{{locale.country}}" style="margin-top: 12px">
                    <img class="dit-iigb-logo-footer" alt="Brand" src="/media/logos/iigb-logo-big-white.png">
                </a>
            </div>
        </div>
    </div>
</nav>
