<!--
[cms-fields]
formBlock:
  type: content
  label: Form content
  global: true
[/cms-fields]
-->
<section class="dit-form-section-nf">
    <div class="container-fluid no-gutter">
        <div class="col-md-12 dit-form-section-nf__header-panel">
            <div class="container">
                <div class="panel-section">
                    <h3>{{ pageHeader.content.title }}</h3>
                    <ul>
                        {% for l in pageHeader.content.list %}
                        <li>{{ l }}</li>
                        {% endfor %}
                    </ul>
                    {{ pageHeader.content.contents | safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid no-gutter">
        <div class="col-md-12 dit-form-section-nf__progress-bar visible-md visible-lg" id="top-navbar">
            <div class="container">
                <div class="grid-row progress-stages">
                    <a class="col-md-4 active" href="#step-1">
                        <span class="number-circle">1</span>{{ labels.form_contact_details_nf[locale.code] }}
                    </a>
                    <a class="col-md-4" href="#step-2">
                        <span class="number-circle">2</span>{{ labels.form_company_nf[locale.code] }}
                    </a>
                    <a class="col-md-4" href="#step-3">
                        <span class="number-circle">3</span>{{ labels.form_investment[locale.code] }}
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="dit-form-section-nf__body" id="new-format">
                <div id="loading-overlay">
                    <img src="/{{assets}}/media/spin.gif"
                         alt="loading_spinner"
                         id="img-load">
                </div>
                <form enctype='application/x-www-form-urlencoded'
                      id="ist-form"
                      role="form"
                      action="https://forms.invest.great.gov.uk/form"
                      method="post"
                      autocomplete="off">
                    <div class="container no-gutter">
                        <div class="row">
                            <div class="col-xs-12 dit-form-section-nf__inputs"
                                 id="step-1">
                                <div class="container dit-form-section-nf__category">
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <h3>{{ labels.form_contact_details_nf[locale.code] }}</h3>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <p class="error-help">
                                                {{ labels.form_enter_full_name[locale.code] }}
                                            </p>
                                            <input id="hidden_field"
                                                   name="language"
                                                   type="hidden"
                                                   value="{{locale.language}}">
                                            <label class="control-label"
                                                   for="userName">
                                                {{ labels.form_full_name[locale.code] }}
                                            </label>
                                            <input type="text"
                                                   name="user[name]"
                                                   id="userName"
                                                   required="required"
                                                   class="form-control"
                                                   placeholder=""/>
                                            <input name="english[form_full_name]"
                                                   type="hidden"
                                                   value="{{ labels.form_full_name['en_US'] }}">
                                            <input name="multilingual[form_full_name]"
                                                   type="hidden"
                                                   value="{{ labels.form_full_name[locale.code] }}">
                                        </div>
                                        <div class="form-group col-md-8">
                                            <p class="error-help">
                                                {{ labels.form_enter_title[locale.code] }}
                                            </p>
                                            <label class="control-label"
                                                   for="userTitle">
                                                {{ labels.form_title[locale.code] }}
                                            </label>
                                            <input type="text"
                                                   name="user[title]"
                                                   id="userTitle"
                                                   required="required"
                                                   class="form-control"
                                                   placeholder=""/>
                                            <input name="english[form_title]"
                                                   type="hidden"
                                                   value="{{ labels.form_title['en_US'] }}">
                                            <input name="multilingual[form_title]"
                                                   type="hidden"
                                                   value="{{ labels.form_title[locale.code] }}">
                                            <input name="js"
                                                   class="js_switch"
                                                   type="hidden"
                                                   value="false">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <p class="error-help email_help">
                                                {{ labels.form_enter_email[locale.code] }}
                                            </p>
                                            <label class="control-label"
                                                   for="userEmail">
                                                {{ labels.form_email[locale.code] }}
                                            </label>
                                            <input type="email"
                                                   name="user[email]"
                                                   id="userEmail"
                                                   required="required"
                                                   class="form-control"
                                                   placeholder=""/>
                                            <input name="english[form_email]"
                                                   type="hidden"
                                                   value="{{ labels.form_email['en_US'] }}">
                                            <input name="multilingual[form_email]"
                                                   type="hidden"
                                                   value="{{ labels.form_email[locale.code] }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <p class="error-help">
                                                {{ labels.form_enter_valid_phone[locale.code] }}
                                            </p>
                                            <label class="control-label"
                                                   for="userPhone">
                                                {{ labels.form_phone[locale.code] }}
                                            </label>
                                            <input type="text"
                                                   name="user[phone]"
                                                   id="userPhone"
                                                   class="form-control phone"
                                                   placeholder=""/>
                                            <input name="english[form_phone]"
                                                   type="hidden"
                                                   value="{{ labels.form_phone['en_US'] }}">
                                            <input name="multilingual[form_phone]"
                                                   type="hidden"
                                                   value="{{ labels.form_phone[locale.code] }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 dit-form-section-nf__category"
                                 id="step-2">
                                <div class="form-group col-md-8">
                                    <h3>{{ labels.form_company_nf[locale.code] }}</h3>
                                </div>
                                <div class="form-group col-md-8">
                                    <p class="error-help">{{ labels.form_enter_registered_company[locale.code]
                                        }}</p>
                                    <label for="company_name"
                                           class="control-label">{{ labels.form_registered_company[locale.code]
                                        }}</label>
                                    <input maxlength="100"
                                           type="text"
                                           name="organisation[name]"
                                           required="required"
                                           class="form-control"
                                           id="company_name"
                                           placeholder=""/>
                                    <input name="english[form_registered_company]"
                                           type="hidden"
                                           value="{{ labels.form_registered_company['en_US'] }}">
                                    <input name="multilingual[form_registered_company]"
                                           type="hidden"
                                           value="{{ labels.form_registered_company[locale.code] }}">
                                </div>
                                <div class="form-group col-md-8">
                                    <p class="error-help">{{ labels.form_enter_website[locale.code] }}</p>
                                    <label for="website"
                                           class="control-label">{{ labels.form_website_nf[locale.code] }}</label>
                                    <input type="text"
                                           name="organisation[website]"
                                           required="required"
                                           id="website"
                                           class="form-control"
                                           placeholder=""/>
                                    <input name="english[form_website]"
                                           type="hidden"
                                           value="{{ labels.form_website['en_US'] }}">
                                    <input name="multilingual[form_website]"
                                           type="hidden"
                                           value="{{ labels.form_website[locale.code] }}">
                                    <input
                                            type="checkbox"
                                            id="mailing_list_checkbox"
                                            name="user[mailing_list]"
                                            value="true"
                                    />
                                    <label class="col-md-8 dit-not-label"
                                           style="padding: 10px 0 0 0;"
                                           for="mailing_list_checkbox">
                                        {{ labels.form_do_not_have_website[locale.code]
                                        }}
                                    </label>
                                    <input name="english[form_mailing_list]"
                                           type="hidden"
                                           value="{{ labels.form_mailing_list['en_US'] }}">
                                    <input name="multilingual[form_mailing_list]"
                                           type="hidden"
                                           value="{{ labels.form_mailing_list[locale.code] }}">
                                </div>
                                <div class="form-group col-md-8">
                                    <p class="error-help">
                                        {{ labels.form_enter_headquarters_nf[locale.code] }}
                                    </p>
                                    <label for="country"
                                           class="control-label">
                                        {{ labels.form_headquarters.label[locale.code] }}
                                    </label>
                                    <p class="help-text">
                                        {{ labels.form_use_of_info[locale.code] }}
                                    </p>
                                    <p class="help-text">
                                        {{ labels.form_enter_headquarters_help[locale.code] }}
                                    </p>
                                    <input type="text"
                                           name="organisation[headquarters_country]"
                                           class="form-control"
                                           id="country"
                                           placeholder=""
                                           required="required">
                                    <input name="organisation[headquarters_country]"
                                           id="country_en"
                                           type="hidden"
                                           value="">
                                    <input name="english[form_headquarters]"
                                           type="hidden"
                                           value="{{ labels.form_headquarters.label['en_US'] }}">
                                    <input name="multilingual[form_headquarters]"
                                           type="hidden"
                                           value="{{ labels.form_headquarters.label[locale.code] }}">
                                </div>
                                <div class="form-group col-md-8">
                                    <p class="error-help">
                                        {{ labels.form_enter_staff_number[locale.code] }}</p>
                                    <p class="dit-label">{{ labels.form_staff_number.label[locale.code] }}</p>
                                    {% for o in labels.form_staff_number.options[locale.code] %}
                                    <div class="form-group-mb-0 col-md-8 transform-wrap">
                                        <input name="organisation[number_of_employees]"
                                               class="dit-radio"
                                               type="radio"
                                               id="{{o|slug}}"
                                               value="{{loop.index}}-staff:{{o}}:{{ labels.form_staff_number.options['en_US'][loop.index0] }}"
                                               required="required">
                                        <label class="dit-not-label" for="{{o|slug}}">{{o}}</label>
                                    </div>
                                    {% endfor %}
                                    <input name="english[form_staff_number]"
                                           type="hidden"
                                           value="{{ labels.form_staff_number.label['en_US'] }}">
                                    <input name="multilingual[form_staff_number]"
                                           type="hidden"
                                           value="{{ labels.form_staff_number.label[locale.code] }}">
                                </div>
                            </div>
                        </div>

                        <div class="row"
                             id="step-3">
                            <div class="dit-form-section-nf__category">
                                <div class="dit-form-section-nf__inputs">
                                    <div class="form-group col-md-8">
                                        <h3>{{ labels.form_investment[locale.code] }}</h3>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <p class="error-help">{{ labels.form_enter_investment_details[locale.code] }}</p>
                                        <label for="investment"
                                               class="control-label">
                                            {{ labels.form_investment_project[locale.code] }}
                                        </label>
                                        <p class="help-text">
                                            {{ labels.form_investment_details[locale.code] }}
                                        </p>
                                        <textarea name="investment[project]"
                                                  class="form-control"
                                                  id="investment" cols="30" rows="10"
                                                  maxlength="2500"
                                                  required="required"></textarea>
                                        <input name="english[form_investment_project]"
                                               type="hidden"

                                               value="{{ labels.form_investment_project['en_US'] }}">
                                        <input name="multilingual[form_investment_project]"
                                               type="hidden"
                                               value="{{ labels.form_investment_project[locale.code] }}">
                                    </div>
                                </div>
                                <div class="col-xs-12 dit-form-section-nf__inputs" style="margin-top: 40px;">
                                    <p class="col-md-8" style="padding-left: 0;">{{ labels.form_disclaimer[locale.code] }} <a href="/{{base}}/terms-and-conditions/">{{ labels.form_disclaimer_tc[locale.code] }}</a></p>
                                </div>
                                <div class="col-xs-12 dit-form-section-nf__inputs" style="margin-top: 20px;">
                                    <button class="col-md-2 dit-btn--call dit-form-section-nf__inputs" type="submit">
                                        {{ labels.contact[locale.code] }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid no-gutter visible-md visible-lg">
        <div class="col-md-12 dit-form-section-nf__progress-bar" id="fixed-navbar">
            <div class="container">
                <div class="grid-row progress-stages">
                    <a class="col-md-4" href="#step-1">
                        <span class="number-circle">1</span>{{ labels.form_contact_details_nf[locale.code] }}
                    </a>
                    <a class="col-md-4" href="#step-2">
                        <span class="number-circle">2</span>{{ labels.form_company_nf[locale.code] }}
                    </a>
                    <a class="col-md-4" href="#step-3">
                        <span class="number-circle">3</span>{{ labels.form_investment[locale.code] }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
