<nav id="nav-default" class="navbar navbar-default">
    <div class="container dit-main-nav"><!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/{{locale.country}}">
            <img class="dit-iigb-logo" alt="Brand" src="/media/logos/iigb-logo.png">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav dit-main-nav-list pull-right">
            <li><a href="/{{locale.country}}/">{{labels.home}}</a></li>
            <li><a href="/{{locale.country}}/setup-guide/">{{labels.setup_guide}}</a></li>
            <li><a href="/{{locale.country}}/industries/">{{labels.industries}}<span class="sr-only">(current)</span></a></li>
            <li style="cursor: pointer;"><a class="search-button" href="https://search.invest.great.gov.uk/{{locale.country}}/search/"> {{labels.search}}
                <span class="glyphicon glyphicon-search dit-main-search__glyph" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
