<!--
[cms-fields]
  pageHeader:
    type: content
    label: Page Intro
    fields:
      heroImage:
        type: text
        label: Hero Image
        help: Choose image to show as hero background image
      externalVideo:
        type: text
        label: External video url
      heroVideo:
        type: text
        label: Hero video
        help: Choose video to show as hero background video
      heroVideoImage:
        type: text
        label: Hero video poster
        help: Image to show in case of video autoplay failure ?
[/cms-fields]
  -->

<!--{% if pageHeader.heroImage %}-->
    <!--<style>-->
        <!--.jumbotron {-->
            <!--background-image: url("/assets/img/{{pageHeader.heroImage}}");-->
            <!--/*background-size: cover;*/-->
        <!--}-->
    <!--</style>-->
<!--{% endif %}-->

<div class="jumbotron--auto">
    <div class="container">
        <div class="dit-hero__content">
            <div class="row">
                <div class="col-sm-10 col-md-10">
                    <h1>{{ pageHeader.content.title }}</h1>
                    <p id="more-info">{{ pageHeader.content.contents | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
