{% if pageHeader.heroImage %}
    <style>
        .jumbotron {
          background-image: url("/{{assets}}/media/hero-img/{{pageHeader.heroImage}}");
        }
        @media (max-width: 767px) {
            .jumbotron {
              background-image: url("/{{assets}}/media/hero-img-mobile/{{pageHeader.heroImage}}");
            }
        }
    </style>
{% endif %}

<div class="jumbotron">
    <div class="container">
        <div class="dit-hero__content">

            <div class="row">
                <div class="col-sm-10 col-md-8 dit-jumbotron-content">
                    <h1>{{ pageHeader.content.title }}</h1>
                    {{ pageHeader.content.contents | safe }}
                </div>
            </div>

            {% if pageHeader.externalVideo %}
                <!--[if ! IE]><!-->
                <p>
                    <a href="#"
                       class="bg-video-inactive bg-video-play dit-text-decoration-none"
                       id="playVid" data-toggle="modal"
                       data-target="#heroVideo">
                        <span class="dit-btn-home__video">{{ labels.watch_video[locale.code] }}
                            <span class="glyphicon glyphicon-play"></span>
                        </span>
                    </a>
                </p>
                <!--<![endif]-->
                <!--[if gte IE 9]>
                <p>
                    <a href="#"
                       class="bg-video-inactive bg-video-play dit-text-decoration-none"
                       id="playVid" data-toggle="modal"
                       data-target="#heroVideo">
                            <span class="dit-btn-home__video">{{ labels.watch_video[locale.code] }}
                                <span class="glyphicon glyphicon-play"></span>
                            </span>
                    </a>
                </p>
                <![endif]-->
                <!--No videos to show in IE8.-->
                <!--[if lte IE 8]><![endif]-->
            {% endif %}
            {% if pageHeader.externalVideoCN %}
                <p>
                    <a href="{{pageHeader.externalVideoCN}}" target="_blank">
                        <span class="dit-btn-home__video">{{ labels.watch_video[locale.code] }}
                            <span class="glyphicon glyphicon-play"></span>
                        </span>
                    </a>
                </p>
           {% endif %}
        </div>
    </div>
    {% if pageHeader.externalVideo %}
        <div class="modal fade" id="heroVideo" role="dialog" data-backdrop="static" data-toggle="modal" aria-labelledby="External video" aria-hidden="true" data-keyboard="true" tabindex="-1">
            <a class="glyphicon glyphicon-remove dit-remove-icon" id="closeHeroVideo" data-dismiss="modal">
                <span class="visuallyhidden">{{ labels.close_video[locale.code] }}</span>
            </a>
            <div class="modal-dialog video-wrapper" data-video="{{pageHeader.externalVideo}}"></div>
        </div>

   {% endif %}

</div>
