<script>
document.iigbBuild='{{build}}'
document.base_url =  '{{base}}';
document.countries = [{% for o in labels.form_headquarters.options[locale.code] %}
                    {"value": "{{o}}", "data": "{{loop.index}}"},
                {% endfor %}];
document.countries_en = ["zero",
                {% for o in labels.form_headquarters.options['en_US'] %}
                    "{{o}}",
                {% endfor %}];
document.country = '{{locale.country}}';
document.language = '{{locale.language}}';
document.pagePath = '{{path}}';
document.direction = '{{direction}}'
</script>
