{% import "partials/markups.html" as markups %}

<div class="container">
    {% for a in sections %}
    {{ markups.section(a, labels, locale.language) }}
    {% endfor %}
    <p class="dit-updated">Last updated {{now()|date}}</p>

    {% if subContent %}
    <div class="dit-industries-subsectors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="sub-sectors">
                        {{ labels.pre_word[locale.code] }}{{pageHeader.content.title}}{{ labels.post_word[locale.code] }}:</h2>

                        <!--
                        [cms-fields]
                          subContent:
                            type: content
                            multiple: true
                            label: Tile items
                            fields:
                              content:
                                type: text
                                label: Content
                                help: Choose content to appear in this section
                              thumbnail:
                                type: text
                                label: Thumbnail image
                                help: Choose thumbnail image for tile
                              link:
                                type: text
                                label: Link target for thumbnail
                        [/cms-fields]
                          -->

                    {{markups.tilesSector(list = subContent, base = locale.country, assets = assets)}}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
