<div class="great-locale-selector">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 dit-content-section">
                <h3>Choose your country</h3>
                <ul>
                    <!--<li><a href="/uk"><span class="great-flag-circle great-flag-circle&#45;&#45;uk"></span>United Kingdom</a></li>-->
                    <li><a href="/us"><span class="great-flag-circle great-flag-circle--us"></span>United States</a></li>
                    <li><a href="/cn"><span class="great-flag-circle great-flag-circle--cn"></span>中国</a></li>
                    <li><a href="/in"><span class="great-flag-circle great-flag-circle--in"></span>India</a></li>
                    <li><a href="/de"><span class="great-flag-circle great-flag-circle--de"></span>Deutschland</a></li>
                    <li><a href="/int" style="margin:0 !important">I'm in another country <span class="great-locale-selector__help-ext">view in international (English)</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>