<div class="row">
    <div class="col-sm-12 modal-lang-selector">
        <h1>Language</h1>
        <p>Choose your language</p>
        <ul class="row" style="border-bottom: 1px solid #ddd;">
            <li class="col-sm-3"><a href="/int">English</a></li>
            <li class="col-sm-3"><a href="/int/zh">中国</a></li>
            <li class="col-sm-3"><a href="/int/de">Deutsche</a></li>
            <li class="col-sm-3"><a href="/int/ja">日本の</a></li>
            <li class="col-sm-3"><a href="/int/es">Español</a></li>
            <li class="col-sm-3"><a href="/int/pt">Português</a></li>
        </ul>
    </div>
    <div class="col-sm-12 modal-reg-selector">
        <h1>Country/region</h1>
        <p>We also provide region specific investment information</p>
        <ul class="row">
            <li class="col-sm-4"><a href="/us"><span
                    class="great-flag-circle great-flag-circle--us"></span>United States</a>
            </li>
            <li class="col-sm-4"><a href="/cn"><span
                    class="great-flag-circle great-flag-circle--cn"></span>中国</a></li>
            <li class="col-sm-4"><a href="/in"><span
                    class="great-flag-circle great-flag-circle--in"></span>India</a>
            </li>
            <li class="col-sm-4"><a href="/de"><span
                    class="great-flag-circle great-flag-circle--de"></span>Deutschland</a></li>
        </ul>
    </div>
</div>
