.dit-loading {
  background: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;

  &-spinner {
    @extend .dit-loading;
    background: white url(../media/icons/dit-search-spinner.gif) center center no-repeat;
  }
}

.dit-form-submitted-spinner {
  background: $link-colour url(../media/icons/dit-search-spinner.gif) center center no-repeat;
}
