// footer.scss

.dit-footer {
  //margin-top: 50px;
  height: 200px;
  background-color: $text-colour !important;

  &--list {
    padding-left: 0;
    > li {
      display: inline-block;
      height: 25px;
      margin-top: 35px;
      padding: 0px 12px 0 8px;
      border-right: 1px solid $background-colour;
      &:last-of-type {
        border-right: 0 solid $background-colour;
      }

      a {
        color: $background-colour;

        &:hover {
          border-bottom: 1px solid $background-colour;
        }
      }
    }
  }

  &--logo {
    > a {
      display: block;
      margin-top: 35px;
    }
  }

  .dit-iigb-logo-footer {
    height: 30px;
    width: auto;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 25px;
    }
  }

  .dit-logo-footer {
    height: 27px;
    margin-top: -2px;
  }

  @media (max-width: $screen-xs-max) {
    height: 100%;
  }

  .list-unstyled {
    font-size: 14px;
    color: $background-colour;
  }
}