//icons.scss

.dit-icon {
  height: 70px;
  width: 70px;
  margin: 28px auto;

  &-sm {
    height: 50px;
    width: 50px;
    margin: flip-side-values(4px -4px 0 15px);
  }

  &-xs {
    height: 24px;
    width: 24px;
  }

  &-connections {
    background: linear-gradient(transparent, transparent),
    url(../media/icons/dit-icon-connections.svg) no-repeat;
    background-size: contain;
  }

  &-immigration {
    background: linear-gradient(transparent, transparent),
    url(../media/icons/dit-icon-immigration.svg) no-repeat;
    background-size: contain;
  }

  &-incentives {
    background: linear-gradient(transparent, transparent),
    url(../media/icons/dit-icon-incentives.svg) no-repeat;
    background-size: contain;
  }

  &-talent {
    background: linear-gradient(transparent, transparent),
    url(../media/icons/dit-icon-talent.svg) no-repeat;
    background-size: contain;
  }

  &-insight {
    background: linear-gradient(transparent, transparent),
    url(../media/icons/dit-icon-insight.svg) no-repeat;
    background-size: contain;
  }

  &-language {
    background: linear-gradient(transparent, transparent),
    url(../media/icons/dit-language-icon.svg) no-repeat;
    background-size: contain;

    @media (max-width: $screen-xs-max) {
      margin: flip-side-values(-13px -15px 0 0);
    }
  }

  &-external-link {
    background: url(../media/icons/dit-icon-external-link.svg) no-repeat;
    background-size: contain;
  }
}
