//jumbotron.scss

.jumbotron {
  color: $white;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  background: $background-jumbotron-empty top right no-repeat;
  padding: 0;
  margin: 40px 0 0 0;
  height: 540px;
  border-bottom: 5px solid $red-line-colour;
  background-size: auto 100%;

  &:before {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0); /* IE6-9 */
  }

  .dit-content-section {
    display: none;
  }

  h1 {
    @extend .h1;
    // font-size: 40px;

    // @media (max-width: $screen-md-max) {
    //   font-size: 32px;
    // }

    // @media (max-width: $screen-sm-max) {
    //   font-size: 30px;
    // }
  }

  a {
    color: $white;
  }

  p {
    margin-bottom: 5px;

    @media (max-width: $screen-md-max) {
      font-size: 18px;
    }
  }

  .container {
    position: absolute;
    z-index: 5;
    height: auto;
    left: 0;
    right: 0;
    bottom: 15px;
    background-color: #333;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
  }

  .glyphicon-play {
    font-size: 24px;
    padding-left: 14px;
    color: $background-colour;
    text-shadow: 0 0 0 white;
    float: right;
  }

  .dit-play-icon {
    //background-color: $white;
    //border-radius: 50%;
  }

  .dit-remove-icon {
    position: absolute;
    top: 25px;
    right: 60px;
    font-size: 36px;
    cursor: pointer;
    -webkit-text-stroke: 3px #000;
  }

  .dit-play-video {
    border: 2px solid white;
    border-radius: 4px;
    width: 250px;
    padding-bottom: 12px;
  }

  .dit-play-container {
    padding: 8px 0px 0px 0px;
  }

  &--auto {
    color: $white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    position: relative;
    overflow: hidden;
    background: $background-jumbotron-empty top right;
    background-size: auto 100%;
    margin: 40px 0 0 0;
    padding: 50px 0 50px 0;
    height: auto;
    max-height: none;
    min-height: inherit;
    border-bottom: 5px solid $red-line-colour;

    h1 {
      @extend .h1;
      // font-size: 40px;
    }
  }

  @media (max-width: $screen-xs-max) {
    background: $background-jumbotron-empty top center no-repeat;
  }
}