//_quick-guide-side.scss

.dit-quick-guide-side {
  //position: absolute; //leaving this absolute creates bug in affix
  background: #1e1348;
  padding: 0px 30px 40px 30px;

  @media (max-width: $screen-sm-max) {
    display: none;
  }

  h2 {
    font-size: 20px;
    margin: 40px 0 24px 0;
    // text-align: center;
  }

  ol {
    counter-reset: dit-guide-side-counter;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 12px;
      display: inline-block;
      position: relative;
      padding: 0 30px 0 24px;

      &:before {
        position: absolute;
        top: 0px;
        left: 2px;
        font-size: 18px;
        content: counter(dit-guide-side-counter) ".";
        counter-increment: dit-guide-side-counter;
        width: 30px;
        display: inline-block;
      }
    }
  }

  a {
    color: $white;
    border-bottom: 1px solid $tile-border-colour;

    &:hover {
      color: $link-colour;
      border-bottom: 1px solid $link-colour;
    }
  }

  &-de {
    @extend .dit-quick-guide-side;

    font-size: 17px;
    padding: 0px 0px 30px 22px;
  }
}