//selector.scss

.great-flag-circle {
  width: 40px;
  height: 40px;
  background-size: 40px auto;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: -8px;
  #{$left}: -50px;

  &--br {
    background-image: url(../media/flags/flag-br.svg);
  }

  &--cn {
    background-image: url(../media/flags/flag-cn.svg);
  }

  &--de {
    background-image: url(../media/flags/flag-de.svg);
  }

  &--es {
    background-image: url(../media/flags/flag-es.svg);
  }

  &--jp {
    background-image: url(../media/flags/flag-jp.svg);
  }

  &--in {
    background-image: url(../media/flags/flag-in.svg);
  }

  &--us {
    background-image: url(../media/flags/flag-us.svg);
  }

  &--uk {
    background-image: url(../media/flags/flag-uk.svg);
  }

  @media (max-width: $screen-xs-max) {
    width: 30px;
    height: 30px;
    background-size: 30px auto;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: -5px;
    #{$left}: -36px;
  }
}
