//form.scss

.dit-form-section__step {
  min-height: 800px;
  height:auto !important;
  height: 800px;
}

.dit-form-section__body {
  overflow: hidden;
}

.stepwizard {
  display: block;
}

.prevBtn, .nextBtn {
  display: inline-block;
}