//_video.scss

video {
  //
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 80%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 80% !important;
  }

}

//hide video play button on iOS
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}