//big-list.scss
.dit-big-list {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  column-count: 1;

  &__item {
    width: 50%;
    float: left;

    &:nth-of-type(2n+1) {
       clear: left;
    }

    &--red-list-style {
      @extend .dit-big-list__item;

      &::before {
        color: #E41F13;
      }
    }

    &--home-guide {
      @extend .dit-big-list__item;
    }
  }
}