//_breadcrumb.scss

.breadcrumb {
  background: $toc-colour;
  border-bottom: 1px solid $tile-border-colour;
  border-radius: 0;
  color: $light-gray;
  padding: 16px 0 12px 0;

  a {
    color: $text-colour;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1px;

    &:hover {
      color: $link-colour;
      border-bottom: 1px solid $link-colour;
    }
  }
}