.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 100%;
  z-index: 1000; /* Sit on top */
  background-color: rgba(0,0,0,0.3);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  &-open {
    overflow: hidden;
    //position: fixed;
  }
}

.search-heading-wrapper {
  border: 0.5px solid $text-colour;
  background-color: $background-colour;
  max-height: 70px;
}

.search-error{
  display:none;
}

.no-results{
  display:none;
}

.search-main-wrapper {
  //background-color: $background-colour;
  height: inherit;
}

#dit-search-overlay {

  .navbar {
    top: 0px;
  }

  .close-btn-div {
    height: 68px;
    padding-top: 0;
    background-color: $red-line-colour;
    text-align: center;

    a {
      text-decoration: none !important;
      color: $white;
      padding-right: 0;
    }
  }

  .close-search-icon {
    font-size: 36px;
    margin: 16px 0 0 0px;
    -webkit-text-stroke: 3px $red-line-colour;
  }

  #search-options {
    margin-top: 40px;
  }

  .search-page_search_title {
    float: right;
    margin: 22px 5px 0 0;

    @media (max-width: $screen-sm-max) {
      margin: 24px 20px 0 0;
    }

    @media (max-width: $screen-xs-max) {
      margin: 24px -10px 0 0px;
    }
  }

  #searchInput {
    height: 60px;
    width: 100%;
    margin: 4px 0px;
    font-size: 18px;
  }

  .search-input-field {
    float: left;
    padding: 0;
  }

  .search-results-container {
    height: inherit;
    background: rgba(0, 0, 0, 0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  .search-results-block {
    min-height: 90%;
    padding: 24px 24px 16px 24px;
    //margin-top: 60px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-bottom: 5px solid #B00D23;
    overflow: hidden;
  }

  .search-list-style {
    list-style: none;
  }

  .search-result {
    margin-bottom: 30px;

    h3 {
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 18px;

      @media (max-width: $screen-sm-max) {
        word-break: normal;
      }
    }

    //p:nth-child(4) {
    //  font-size: 18px;
    //}
    //
    //&-snippet {
    //  font-size: 18px;
    //}

    &-link {
      font-size: 16px;
      color: #486e2a;
    }
  }

  .pagination-links {
    cursor: pointer;
  }

  .closebtn {
    font-size: 18px;
    color: $white;
  }
}

.dit-search-spinner {
  left: -70px;
}

