//toc.scss

.dit-toc {
  counter-reset: dit-toc-counter;
  background: $toc-colour;
  color: $text-colour;

  &__heading {
    margin-bottom: 16px;
  }

  &__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    padding: 0;
    margin-bottom: 40px;

    @media (max-width: $screen-xs-max) {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      -ms-column-count: 1;
      column-count: 1;
    }
  }

  &__list-item {
    margin-bottom: 12px;
    display: inline-block;
    position: relative;
    padding: 0 30px 0 24px;
    width: 100%;

    &:before {
      position: absolute;
      top: 0px;
      left: 2px;
      font-size: 18px;
      content: counter(dit-toc-counter) ".";
      counter-increment: dit-toc-counter;
      width: 30px;
      display: inline-block;
    }

    a {
      color: $text-colour;
      border-bottom: 1px solid $tile-border-colour;

      &:hover {
        color: $link-colour;
        border-bottom: 1px solid $link-colour;
      }
    }
  }
}