//hero.scss

.dit-hero {
  &__content {
    position: relative;
    z-index: 100;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4D000000', EndColorStr='#1A000000');
  }
}

