{% extends "base/landing.html" %}
{% import "partials/markups.html" as markups %}

{% block page_content %}

{% include "partials/jumbotron-short.html" %}

<div class="container">
    <section class="dit-industries-tiles-landing">
        <div class="row">
            <div class="col-md-12 margin-top--4">
                <!--<h2 class="dit-industries-tiles-landing__heading">{{labels.industry_overviews}}</h2>-->
                <!--<p>{{labels.industry_overviews_intro}}</p>-->
                {{ markups.tilesIndustry(list = contentBlocks.tileItems, country = locale.country ) }}
            </div>
        </div>
    </section>

    <section class="dit-industries-tiles-landing">
        <div class="row">
            <div class="col-md-12 margin-top--4">
                <!--<h2 class="dit-industries-tiles-landing__heading">{{labels.industries}}</h2>-->
                <!--<p>{{labels.industries_intro}}</p>-->
                {{ markups.tilesSector(list = contentBlocks.subTileItems, country = locale.country ) }}
            </div>
        </div>
    </section>
</div>

{% endblock %}
