{% extends "base/content.html" %}

{% block toc %}
{{ super() }}
<div class="container" id="top">
    <div class="row">
        <div class="col-md-8">
            <h2 class="dit-toc__heading">{{labels.on_this_page}}</h2>
            <ol class="dit-toc__list">
                {% for a in contentBlocks.sections %}
                <li class="dit-toc__list-item"><a
                        href="#{{a.content.title|slug(locale.language)}}">{{a.content.title}}</a></li>
                {% endfor %}
                {% if contentBlocks.subContent %}
                <li class="dit-toc__list-item"><a href="#sub-sectors">{{labels.pre_word}}{{contentBlocks.pageHeader.content.title}}{{labels.post_word}}</a>
                </li>
                {% endif %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}

{% include "partials/sections.html" %}

{% endblock %}
