// lang-ar.scss
//specific for Arabic. No change of direction

.lang-ar {
  font-family: 'Droid Arabic Naskh', Roboto, sans-serif;
  font-size: 14px;
  line-height: 2em;

  @media (max-width: $screen-sm-max) {
    font-size: 12px;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
  }

  h1 {
    font-size: 35px;

    @media (max-width: $screen-sm-max) {
      font-size: 24px;
      font-weight: 700;
    }
  }

  h2 {
    font-size: 24px;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 700;

    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  .dit-content-section__heading {
    font-size: 35px;
    line-height: 2;

    @media (max-width: $screen-sm-max) {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .dit-content-section h2 {
    font-size: 32px;
    font-weight: 500;

    @media (max-width: $screen-sm-max) {
      font-size: 23px;
    }
  }

  .dit-content-section h3 {
    font-size: 20px;
    font-weight: 700;

    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
  }

  .dit-info h2 {
    font-size: 22px;
    font-weight: 500;

    @media (max-width: $screen-sm-max) {
      font-size: 20px;
    }
  }

  .dit-great-link-container {
    border-right: none;
    display: inline-block;
    margin: 8px 4px 0 0;
  }

  .dit-nav-language {
    @media (max-width: $screen-xs-max) {
      margin-top: -30px;
    }
  }

  .dit-language-selector-mobile {
    margin-top: 34px;
  }

  .jumbotron {
    p {
      line-height: 2em;
    }
  }

  .breadcrumb {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    @media (max-width: $screen-md-max) {
      font-size: 16px;
    }

    & > li + li:before {
      content: ">\00a0";
    }
  }

  .dit-toc__list-item:before {
    font-size: 16px;

    @media (max-width: $screen-sm-max) {
      font-size: 14px;
    }
  }

  .stepwizard {
    top: 30px;
    //todo: check for mobile
    &-step a {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;

      @media (max-width: $screen-md-max) {
        font-size: 16px;
      }

      &.active-selection {
        font-size: 60px;
      }
    }
  }

  label.control-label {
    width: 83.33333333%; //col-md-10
  }

  .dit-btn-home__video {

    .glyphicon-play {
      padding-top: 8px;
      @media (max-width: $screen-md-max) {
        padding-top: 6px;
      }
    }

  }
}
